/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1600px) {
    .viewer.wowbook {
        height: 685px !important;
    }
    .menu a {
        font-size: 14px;
    }
    body {
    	font-size: 14px;
    }
    .logo img {
        width: 160px;
    }
    .header__left .logo {
        margin-right: 34px;
    }
    .btn-search, .btn-call, .social-list a, .btn-user, .open-search, .main-language__dropdown a, .main-language__value {
        width: 38px;
        height: 38px;
        font-size: 13px;
        border-radius: 5px;
    }
    .social-list a {
        font-size: 16px;
    }
    .phone-main {
        margin: 0px 29px;
        margin-left: 19px;
        font-size: 15px;
    }
    .btn-user img {
     max-width: 18px;
 }
 .header-search.active form {
    width: 375px;
}
.sandwich {
    width: 42px;
    height: 50px;
    margin-left: -5px;
    margin-right: 38px;
    padding-top: 14px;
}
.header-top {
    padding: 9px 0;
}
.item-billbord {
    height: 395px;
    padding: 0 40px;
}
.title-big {
    font-size: 41px;
}
.item-billbord .title-big {
    margin-bottom: 26px;
}
.title-big span {
    font-size: 35px;
}
.list-page li {
    padding-left: 28px;
    margin-bottom: 15px;
}
.item-billbord .list-page {
    max-width: 341px;
}
.billbord .row {
	margin: 0 -10px;
}
.billbord .row > div {
	padding: 0 10px;
}
.item-banner__image {
    width: 188px;
    margin-right: -23px;
}
.item-banner__title {
    font-size: 21px;
    margin-bottom: 2px;
}
.item-banner__text {
    margin-bottom: 2px;
}
.item-banner__value {
    font-size: 27px;
    margin-bottom: 8px;
}
.title-section {
    font-size: 28px;
    padding-top: 30px;
    padding-bottom: 16px;
}
.item-about__value {
    font-size: 58px;
}
.item-about__value span {
    font-size: 19px;
}
.item-about {
    padding: 14px 17px;
    padding-bottom: 24px;
    height: 197px;
}
.item-about__text {
    font-size: 16px;
    width: 180px;
    max-width: 100%;
}
.date-main {
    margin-bottom: 18px;
    padding: 7px 12px;
}
.item-event__title {
    font-size: 20px;
    padding-top: 15px;
}
.item-news__image {
    height: 177px;
}
.item-news__content {
    padding: 15px 25px;
    padding-right: 14px;
    padding-bottom: 20px;
}
.item-news__title {
    font-size: 17px;
}
.item-news__date {
    font-size: 13px;
    margin-bottom: 10px;
}
.item-principle__value {
    width: 110px;
    height: 126px;
    margin-right: 35px;
    font-size: 58px;
}
.title-middle {
    font-size: 21px;
}
.block-principles {
    padding: 40px 56px;
    padding-bottom: 20px;
    padding-right: 67px;
}
.item-advantage__icon {
    width: 75px;
    height: 91px;
    padding: 15px;
    margin-right: 15px;
}
.item-advantage__icon img {
 max-width: 100%;
 max-height: 100%;
}
.item-advantage {
    height: 210px;
    padding: 0 24px;
    font-size: 16px;
}
.tabs a {
    height: 40px;
    font-size: 12px;
}
.tabs li {
    padding: 0 2px;
}
.tabs {
	margin: 0 -2px;
}
.head-section {
    padding-top: 32px;
    padding-bottom: 22px;
}
.item-catalog__descr {
    margin-bottom: 15px;
    font-size: 12px;
}
.item-catalog {
    padding: 10px;
}
.item-catalog__image {
    height: 162px;
    margin-bottom: 10px;
}
.item-catalog__bottom {
    padding-top: 15px;
}
.catalog {
    padding-bottom: 65px;
}
.catalog-magazine .title-section {
	padding-bottom: 23px;
}
.viewer-block {
    padding: 21px 80px;
}
.wowbook-handle.wowbook-left::before {
    left: -58px;
}
.wowbook-handle.wowbook-right::before {
    right: -58px;
}
.partners-block .title-section {
    padding-bottom: 25px;
}
.item-partner {
    height: 120px;
}
.footer {
    padding-top: 35px;
    font-size: 12px;
}
#map {
    height: 250px;
}
.footer__column {
    margin-left: -40px;
}
.wrapper {
	padding-top: 112px;
}
.dropdown-catalog li a {
	font-size: 14px;
}
.dropdown-catalog {
	width: 365px;
}

.wrapper {
    padding-top: 0;
}
.billbord {
    padding-top: 170px;
    padding-bottom: 55px;
}
.item-billbord {
    padding: 0;
    height: auto;
}
.item-banner {
    padding: 18px 20px;
    padding-right: 25px;
    padding-bottom: 50px;
    margin-bottom: 30px;
    margin-left: -30px;
}
.item-banner__text {
    font-size: 13px;
    margin-bottom: 0;
}
.item-banner__value {
    margin-bottom: 0;
}
.item-event {
    padding: 20px;
    min-height: 224px;
    margin-bottom: 20px;
}
.item-event__title {
    padding-top: 25px;
}
.item-about {
    margin-bottom: 50px;
    padding: 0;
    height: auto;
}
.title-section {
    font-size: 40px;
}
.about .title-section {
    padding-bottom: 45px;
}
.about .title-block {
    padding-bottom: 26px;
}
.title-block {
    font-size: 21px;
}
.item-principle .title-middle {
    font-size: 25px;
    padding-bottom: 14px;
    margin-bottom: 18px;
}
.item-principle__value {
    margin-right: 0;
}
.principles {
    padding-bottom: 42px;
}
.item-catalog__image {
    height: 190px;
    margin-bottom: 13px;
}
.item-advantage {
    padding: 25px 22px;
    padding-bottom: 34px;
    height: auto;
}
.item-advantage__icon {
    margin-bottom: 33px;
    margin-right: 0;
}
.row_advantages {
    margin: 0 -10px;
}
.row_advantages > div {
    padding: 0 10px;
    margin-bottom: 20px;
}
.item-advantage__image img {
    max-width: 262px;
}
.row_partners .item-partner {
    height: 145px;
}
.partners {
    padding-bottom: 50px;
}
.item-news__date {
    margin: 0;
}
.item-news__title {
    margin-bottom: 65px;
}
.item-news__content {
    padding: 23px 26px;
    padding-bottom: 18px;
}

.item-category {
    height: 260px;
    margin-bottom: 20px;
}
.item-category__title {
    height: 53px;
    padding: 0 12px;
    top: 5px;
    left: 5px;
    right: 5px;
}
.section-text {
    font-size: 13px;
    padding-bottom: 45px;
}
.section-text h2 {
    font-size: 27px;
    padding-bottom: 16px;
}
.wrapper_page {
    padding-top: 112px;
}
.page-categories .title-section {
    padding-bottom: 29px;
}
.title-sidebar {
    font-size: 18px;
    padding: 14px 0;
}
.slidebar-catalog a {
    padding: 12px 15px;
    padding-right: 7px;
}
.fliter-catalog a {
    height: 37px;
    padding: 0 9px;
    font-size: 12px;
}
.fliter-catalog li {
    padding: 0 3px;
    margin-bottom: 6px;
}
.fliter-catalog {
    margin: 0 -3px;
    margin-bottom: 22px;
}
.title-sorting {
    margin-right: 21px;
}
.list-sorting li {
    margin-right: 25px;
}
.sorting-wrapper {
    font-size: 13px;
    margin-bottom: 15px;
}
.row_catalog > div {
    margin-bottom: 20px;
}
.page-numbers {
    font-size: 16px;
    margin: 0 16px;
}
.billbord-page {
    height: 340px;
    margin-top: -20px;
    margin-bottom: 30px;
    padding: 21px 25px;
}
.billbord-page__content {
    padding: 27px 11px;
    padding-right: 38px;
    padding-bottom: 17px;
}
.title-main {
    font-size: 32px;
}
.text-big {
    font-size: 16px;
}
.history-numbers {
    font-size: 16px;
    padding: 35px 33px;
    margin: 35px 0;
}
.history-numbers__value {
    font-size: 45px;
    margin-bottom: 13px;
}
.history-numbers__value span {
    font-size: 23px;
}
.history-about {
    padding: 35px 19px;
    margin-top: 40px;
    margin-bottom: 30px
}
.slider-years__item {
    font-size: 20px;
    padding-bottom: 40px;
}
.slider-years__item::before, .slider-years__item::after {
    width: 15px;
    height: 18px;
}
.slider-years::before {
    bottom: 9px;
}
.slider-years {
    margin-top: 35px;
}
.slider-history {
    padding-top: 84px;
    margin-bottom: 30px;
}
.slider-history .slick-arrow {
    top: 20px;
}
.slider-history__block {
    padding: 25px;
}
.slider-history__title {
    font-size: 25px;
    margin-bottom: 20px;
}
.year-history {
    font-size: 65px;
}
.history-picture__image {
    height: 145px;
    margin-top: 10px;
}
.history-picture {
    height: 277px;
    padding: 0 20px;
    padding-bottom: 27px;
}
.year-history_top {
    top: -23px;
}
.factories-wrap {
    margin-top: 25px;
}
.item-factory {
    width: 267px;
    padding: 26px 18px;
    padding-bottom: 26px;
    top: 14px;
    left: 14px;
}
.item-factory__image {
    margin-top: 23px;
    height: 123px;
}
#map-factories {
    height: 410px;
}
.principles-advantages .item-principle {
    max-width: 330px;
    margin-bottom: 40px;
}
.principles-advantages .title-section,
.advantages-block .title-section {
    padding-bottom: 26px;
}
.advantages-block {
    padding: 30px;
}
.principles-advantages {
    padding: 30px 33px;
    margin-bottom: 40px;
    padding-bottom: 10px;
}
.about-advantages {
    padding: 45px 31px;
    padding-bottom: 15px;
    margin-bottom: 44px;
    background-size: 770px auto;
}
.row_team {
    margin-top: 18px;
}
.row_team > div {
    margin-bottom: 20px;
}
.item-team__image {
    height: 255px;
    margin-bottom: 11px;
}
.item-team__title {
    font-size: 18px;
}
.title-section.title-section_top {
    padding-bottom: 19px;
}
.wrapper-block {
    padding: 21px;
}
.row_documents {
    margin: 0 -7px;
}
.row_documents > div {
    padding: 0 7px;
    margin-bottom: 14px;
}
.item-document__image {
    height: 352px;
    padding: 8px;
    margin-bottom: 10px;
}
.item-document {
    font-size: 13px;
}
.wrapper-block {
    padding-bottom: 10px;
}
.unit-partner__head {
    margin-bottom: 14px;
}
.unit-partner__logo img {
    max-width: 94px;
    max-height: 46px;
}
.unit-partner {
    padding: 20px;
    padding-top: 17px;
}
.row_main > div {
    margin-bottom: 20px;
}
.item-vacancy__title {
    font-size: 18px;
    margin-bottom: 12px;
}
.item-vacancy__price {
    font-size: 21px;
    margin-bottom: 12px;
}
.item-vacancy {
    padding: 22px 25px;
    padding-bottom: 25px;
}
.item-project {
    padding: 20px 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;
}
.item-project__title {
    font-size: 21px;
    padding-bottom: 14px;
    margin-bottom: 19px;
}
.item-project__image {
    margin-left: 0;
    margin-right: 0;
    margin-top: 40px;
}
.item-project .btn-main {
    padding: 0 18px;
    height: 34px;
    margin-top: 15px;
    font-size: 13px;
}
.row_units {
    padding-top: 10px;
    margin: 0 -15px;
}
.row_units > div {
    padding: 0 15px;
}
.item-news__tag {
    font-size: 12px;
}
.wrapper-block .pager {
    margin-bottom: 15px;
}
.wrapper-block_events .item-news__title {
    font-size: 20px;
    margin-bottom: 21px;
}
.wrapper-block .item-news__content {
    padding-top: 15px;
}
.tabs_main li a {
    font-size: 11px;
    height: 38px;
    padding: 0 10px;
}
.wrapper-block_news .item-news__title {
    margin-bottom: 37px;
}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .item-billbord {
        height: 310px;
        padding: 0 25px;
    }
    body {
        font-size: 12px;
    }
    .item-billbord .list-page {
        max-width: 297px;
    }
    .title-big {
        font-size: 35px;
    }
    .title-big span {
        font-size: 28px;
    }
    .item-billbord .title-big {
        margin-bottom: 19px;
    }
    .item-banner__image {
        width: 145px;
        margin-right: -16px;
    }
    .billbord .row {
     margin: 0 -6px;
 }
 .item-banner__title {
    font-size: 17px;
}
.item-banner__value {
    font-size: 20px;
    margin-bottom: 4px;
}
.billbord .row > div {
	padding: 0 6px;
}
.title-section {
    font-size: 23px;
}
.item-event {
    padding: 18px 20px;
    padding-right: 16px;
    padding-bottom: 18px;
}
.item-event__title {
    font-size: 17px;
}
.item-about__value {
    font-size: 45px;
}
.item-about__value span {
    font-size: 16px;
}
.item-about__text {
    font-size: 14px;
    width: 165px;
}
.item-about {
    height: 172px;
}
.item-news__image {
    height: 150px;
}
.item-news__content {
    padding: 14px 17px;
    padding-right: 11px;
    padding-bottom: 17px;
}
.item-news__title {
    font-size: 16px;
}
.item-principle__value {
    width: 90px;
    height: 104px;
    margin-right: 20px;
    font-size: 49px;
}
.btn-main_sidebar {
    margin-top: 9px;
}
.item-advantage__icon {
    width: 65px;
    height: 79px;
    padding: 13px;
    margin-right: 13px;
}
.item-advantage {
    height: 170px;
    padding: 0 24px;
    font-size: 14px;
}
.tabs a {
    height: 33px;
    font-size: 9px;
}
.item-catalog {
    padding: 7px;
}
.catalog {
    padding-bottom: 45px;
}
.viewer.wowbook {
    height: 514px !important;
}
.item-partner {
    height: 93px;
}
.footer__nav_big, .footer__title {
    margin-bottom: 14px;
}
.footer {
    padding-top: 31px;
    font-size: 10px;
}
#map {
    height: 210px;
}
.phone-main {
	font-size: 14px;
}
.menu a {
    font-size: 12px;
}
.sandwich {
	margin-right: 30px;
}
.header-search.active form {
    width: 180px;
}

.item-billbord {
    padding: 0;
    height: auto;
}
.slider-billbord {
    max-width: 280px;
    padding-bottom: 30px;
}
.billbord {
    padding-top: 150px;
    padding-bottom: 35px;
}
.item-banner {
    padding: 15px 15px;
    padding-right: 10px;
    padding-bottom: 40px;
    margin-bottom: 20px;
    margin-left: -30px;
}
.item-banner__text {
    font-size: 12px;
}
.item-banner__descr {
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.title-section {
    font-size: 32px;
}
.title-block {
    font-size: 19px;
}
.about .title-block {
    padding-bottom: 22px;
}
.about {
    padding-top: 35px;
    padding-bottom: 30px;
}
.item-about {
    margin-bottom: 35px;
    height: auto;
}
.item-event {
    padding: 15px 15px;
    padding-right: 13px;
    padding-bottom: 25px;
    min-height: initial;
}
.item-about__value {
    margin-bottom: 25px;
}
.item-principle__value {
    margin-bottom: 22px;
    margin-right: 0;
}
.item-principle .title-middle {
    font-size: 21px;
    padding-bottom: 12px;
    margin-bottom: 14px;
}
.principles {
    padding-bottom: 25px;
}
.item-catalog__image {
    height: 165px;
}
.item-advantage {
    padding: 20px 15px;
    padding-bottom: 27px;
    height: auto;
}
.item-advantage__image img {
    max-width: 225px;
}
.item-news__title {
    margin-bottom: 40px;
}
.row_news {
    margin: 0 -10px;
}
.row_news > div {
    padding: 0 10px;
}
.bottom-button {
    padding-top: 14px;
}

.item-category {
    height: 205px;
}
.section-text h2 {
    font-size: 24px;
    padding-bottom: 15px;
}
.title-sidebar {
    font-size: 16px;
}
.title-page {
    font-size: 28px;
    padding-bottom: 16px;
}
.billbord-page {
    height: 290px;
    margin-top: -20px;
    margin-bottom: 25px;
    padding: 20px 20px;
}
.billbord-page__content {
    padding: 18px 12px;
    padding-right: 32px;
    padding-bottom: 16px;
}
.sidebar-nav a {
    padding: 10px 20px;
}
.title-main {
    font-size: 24px;
}
.text-big {
    font-size: 14px;
}
.history-numbers {
    font-size: 14px;
    padding: 30px 25px;
    margin: 25px 0;
}
.history-numbers__value {
    font-size: 37px;
    margin-bottom: 9px;
}
.history-numbers__value span {
    font-size: 19px;
}
.history-about {
    padding: 25px 19px;
    margin-top: 28px;
    margin-bottom: 25px;
    background-size: auto 100%;
}
.slider-history__title {
    font-size: 22px;
    margin-bottom: 14px;
}
.slider-history__block {
    padding: 20px;
}
.year-history {
    font-size: 52px;
}
.history-picture__image {
    height: 115px;
    margin-top: 5px;
}
.history-picture {
    height: 231px;
    padding: 0 15px;
    padding-bottom: 18px;
}
.year-history_top {
    top: -18px;
}
#map-factories {
    height: 350px;
}
.principles-advantages .item-principle {
    max-width: 270px;
    margin-bottom: 35px;
}
.principles-advantages .item-principle .title-middle {
    max-width: 226px;
}
.item-team__image {
    height: 200px;
}
.item-team__title {
    font-size: 16px;
}
.item-document {
    font-size: 12px;
}
.item-document__image {
    height: 260px;
}
.item-project__title {
    font-size: 18px;
    padding-bottom: 13px;
    margin-bottom: 15px;
}
.row_units {
    padding: 0;
}
.row_units {
    margin: 0 -10px;
}
.row_units > div {
    padding: 0 10px;
}
.unit-event__content {
    padding: 15px;
}
.unit-event__title {
    font-size: 18px;
    margin-bottom: 12px;
}
.wrapper-block .pager {
    margin-left: 0;
    margin-right: 0;
}
.unit-event__image {
    height: 145px;
}
.wrapper-block_events .item-news__title {
    font-size: 18px;
    margin-bottom: 18px;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.header-bottom,
	.header__wrapper .header-search,
	.header__wrapper .social-list,
	.header__wrapper .phone-main,
    .header__wrapper .main-language {
     display: none;
 }
 .item-banner {
     margin-top: 20px;
     margin-bottom: 0;
 }
 .item-news__image {
    height: 165px;
}
.tabs {
	flex-wrap: wrap;
	justify-content: flex-start;
}
.tabs li {
	flex-grow: initial;
}
.tabs a {
    height: 38px;
    padding: 0 6px;
    margin-bottom: 5px;
    font-size: 12px;
}
.tab-container {
    padding-top: 14px;
}
body {
    font-size: 14px;
}
.viewer-block {
    padding: 21px 55px;
}
.wowbook-handle.wowbook-left::before {
    left: -48px;
}
.wowbook-handle.wowbook-right::before {
    right: -48px;
}
.viewer.wowbook {
    height: 410px !important;
}
.partners-block {
	padding-bottom: 60px;
}
.slider-partners .slick-dots {
    bottom: -32px;
}
.footer {
    padding-top: 30px;
    font-size: 13px;
}
.footer__content {
  display: none;
  padding-top: 5px;
}
.footer__nav li {
  margin: 0;
}
.footer__title,
.footer__nav a {
  padding: 10px 0;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: space-between;
}
.footer-bottom {
  margin-top: 25px;
  text-align: center;
}
.footer-bottom .row > div {
  padding-top: 10px;
  padding-bottom: 10px;
}
.create {
  justify-content: center;
}
.btn_top {
  float: none;
}
.footer__title i {
  font-size: 14px;
  display: inline-block;
  transition: all 0.3s;
}
.footer__title.active i {
  transform: rotate(180deg);
}
.footer__nav_big {
  padding-left: 0;
  margin: 0;
}
.footer__column {
  margin-left: 0;
}
div.col_lr,
div.col_pl {
  padding-right: 10px;
  padding-left: 10px;
}
.footer .requisites,
.footer .phone-main,
.footer .list-social {
  display: none;
}
.item-banner__image {
    width: 165px;
}
.item-banner {
	padding-right: 20px;
}
.wrapper {
	padding-top: 62px;
}
.sandwich_mobile {
	width: 38px;
    height: 38px;
    padding-top: 8px;
    margin-right: 0;
    border-radius: 6px;
    display: flex;
    margin-left: 0;
    background: #2E4292;
}
.header .logo img {
    width: 140px;
}
.header__left .logo {
    margin-right: 0;
}
.header__left {
	flex: 1;
	justify-content: space-between;
}
.btn-call {
 border: 1px solid #F3F3F3;
 color: #2E4292;
 background-color: transparent;
}
.header-bottom .header__wrapper {
	display: block;
}
.header-bottom {
	max-height: calc(100vh - 60px);
	padding: 20px 0;
	overflow: auto;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	z-index: 1000;
	background-color: #fff;
}
.menu {
	margin-bottom: 20px;
	display: block;
}
.dropdown-catalog li a,
.dropdown-catalog__title,
.menu a {
	font-size: 14px;
	padding: 10px 0;
	color: #2E4292;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #2E4292;
	text-transform: uppercase;
 font-weight: 600;
 line-height: normal;
 letter-spacing: 0.75px;
}
.dropdown-catalog ul {
	padding: 15px;
	display: none;
}
.dropdown-catalog li {
	margin: 0;
}
.dropdown-catalog li a {
	border: none;
	text-transform: none;
}
.sandwich_catalog {
	display: none;
}
.header-bottom__mobile {
	display: block;
}
.header-bottom .header-search form {
	width: 100%;
}
.header-bottom .social-list {
	display: flex;
}
.header-bottom .header-search {
	margin-bottom: 15px;
	display: block;
}
.header-bottom .main-language {
	margin-bottom: 15px;
	display: block;
}
.dropdown-catalog {
	display: block;
	width: 100%;
	background: transparent;
	top: 0;
	left: 0;
	padding: 0;
	position: relative;
}
.dropdown-catalog__title i {
	transition: all 0.3s;
}
.dropdown-catalog__title.active i {
	transform: rotate(180deg);
}
.menu-overlay {
	top: 57px;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	z-index: -1;
}
.wrapper-news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.wrapper-news .item-news {
    width: 49%;
}
.block-principles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item-principle {
    width: 49%;
    display: block;
}
.item-principle__value {
    margin: 0;
    margin-bottom: 10px;
}
.wrapper-events {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.wrapper-events .item-event {
    width: 49%;
}
.wowbook-handle {
    width: 105px;
}
#map {
    margin-top: 10px;
}

.wrapper {
    padding-top: 0;
}
.billbord {
    padding-top: 100px;
    background-position: 30% 50%;
}
.item-banner {
    margin-left: 0;
}
.wrapper-banners {
    display: flex;
    justify-content: space-between;
}
.wrapper-banners .item-banner {
    width: 49%;
}
.about .title-block {
    margin-left: 0;
}
.wrapper-events {
    margin: 0;
}
.about .title-section {
    padding-bottom: 20px;
}
.principles .title-section {
    padding-bottom: 25px;
}
.item-principle {
    width: 100%;
}
.item-advantage__icon {
    margin-right: 0;
}
.advantages {
    padding-bottom: 30px;
}
.catalog-magazine .title-section {
    padding-bottom: 0;
}
.row_partners .item-partner {
    height: 105px;
}

.wrapper_page {
    padding-top: 57px;
}
.page-categories .title-section {
    padding-bottom: 20px;
    padding-top: 20px;
}
.page-categories {
    padding-bottom: 20px;
}
.slidebar-catalog {
    display: none;
}
.title-sidebar i {
    font-size: 13px;
    display: block;
    transition: all 0.3s;
}
.title-sidebar {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title-sidebar.active i {
    transform: rotate(180deg);
}
.fliter-catalog a {
    height: 33px;
}
.sorting-wrapper {
    display: block;
    margin-bottom: 0;
}
.block-sorting {
    margin-bottom: 15px;
}
.row_catalog {
    margin: 0 -5px;
}
.row_catalog > div {
    padding: 0 5px;
    margin-bottom: 10px;
}
.page-catalog .section-text {
    padding-top: 30px;
}
.page-catalog {
    padding-bottom: 35px;
}
.sidebar-nav li:not(.active) {
    display: none;
}
.sidebar-nav-wrapper {
    margin-bottom: 20px;
    position: relative;
}
.btn-sidebar {
    height: 40px;
    padding: 0 20px;
    font-size: 13px;
    color: #fff;
    width: 100%;
    left: 0;
    z-index: 2;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
}
.billbord-page {
    margin: 0;
    margin-bottom: 20px;
}
.sidebar-nav a {
    padding: 0 15px;
    height: 40px;
    display: flex;
    align-items: center;
}
.history-numbers__item {
    max-width: 209px;
}
.btn-sidebar i {
    transition: all 0.3s;
}
.btn-sidebar.active i {
    transform: rotate(180deg);
}
.page-about .title-main {
    margin-bottom: 15px;
}
.history-picture {
    height: 300px;
}
.page-about {
    padding-bottom: 40px;
}
.item-team__image {
    height: 320px;
}
.item-project__image {
    margin-top: 20px;
}
.sidebar-nav {
    display: flex;
    flex-direction: column;
}
.sidebar-nav li {
    width: 100%;
}
.sidebar-nav .active {
    order: -1;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .item-billbord .list-page {
        max-width: 225px;
        font-size: 13px;
        line-height: 130%;
    }
    .list-page li {
     margin-bottom: 8px;
 }
 .title-big {
    font-size: 30px;
}
.title-big span {
    font-size: 24px;
}
.item-billbord {
    height: 270px;
}
.slider-billbord .slick-arrow {
    bottom: 15px;
    right: 12px;
    width: 40px;
    height: 24px;
    font-size: 13px;
    border-radius: 4px;
}
.slider-billbord .slick-prev {
    right: 57px;
}
.block-principles {
    padding: 23px 25px;
    padding-bottom: 8px;
}
.item-news__image {
    height: 120px;
}
.item-news__content {
    padding: 11px 14px;
    padding-right: 9px;
    padding-bottom: 18px;
}
.item-news__date {
    font-size: 12px;
    margin-bottom: 6px;
}
.item-news__title {
    font-size: 15px;
    line-height: 130%;
}
.tabs {
	flex-wrap: nowrap;
	overflow: auto;
	padding-bottom: 5px;
	margin-right: -15px;
	white-space: nowrap;
}
.tabs::-webkit-scrollbar {
  -webkit-appearance: none;
}
.tabs::-webkit-scrollbar:vertical {
  width: 3px;
}
.tabs::-webkit-scrollbar:horizontal {
  height: 3px;
}
.tabs::-webkit-scrollbar-thumb {
  background-color: #2E4292;
  border-radius: 10px;
}
.tabs::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ccc;
}
.item-catalog {
    padding: 10px;
}
.catalog-magazine .title-section {
    padding-bottom: 15px;
}
.head-section {
    padding-top: 25px;
    padding-bottom: 20px;
}
.advantages {
    padding-bottom: 28px;
}
.catalog {
    padding-bottom: 35px;
}
.viewer-block {
	margin: 0 -15px;
	border-radius: 0;
}
.viewer-block {
    padding: 21px 15px;
}
.wowbook-handle.wowbook-left::before {
    left: -13px;
}
.wowbook-handle.wowbook-right::before {
    right: -13px;
}
.viewer.wowbook {
    height: 320px !important;
    max-width: 451px;
    margin: 0 auto;
}
.catalog-magazine {
    padding-bottom: 30px;
}
.partners {
    padding-bottom: 35px;
}
.title-section {
	padding-top: 25px;
}
.partners-block .title-section {
    padding-bottom: 17px;
}
.slider-catalog {
	padding-bottom: 25px;
}
.billbord {
	padding-top: 0;
}
.title-middle {
    font-size: 19px; 
}
.item-event__title {
    font-size: 15px;
}
.slick-dots li,
.slick-dots li button {
    width: 7px;
    height: 7px;
}

.billbord {
    padding-top: 80px;
    background-position: left center;
}
.item-billbord {
    height: auto;
}
.slider-billbord {
    padding-bottom: 40px;
    max-width: 100%;
}
.item-billbord .list-page {
    max-width: 100%;
}
.item-banner {
    padding-right: 10px;
}
.row_advantages > div {
    padding: 0 7px;
    margin-bottom: 14px;
}
.row_advantages {
    margin: 0 -7px;
}
.item-advantage__icon {
    margin-bottom: 20px;
}
.item-advantage__image img {
    max-width: 197px;
}
.catalog-magazine .title-section {
    padding-bottom: 0;
}
.catalog-magazine {
    padding-bottom: 20px;
}
.row_partners .item-partner {
    height: 71px;
}
.partners .title-section {
    padding-bottom: 20px;
}
.title-section {
    font-size: 28px;
}
.item-news__date {
    margin: 0;
}
.item-news__title {
    margin-bottom: 25px;
}
.news {
    padding-bottom: 40px;
}
.row_news {
    margin: 0 -4px;
}
.row_news > div {
    padding: 0 4px;
    margin-bottom: 8px;
}
.news .row_news > div:nth-child(n+3) {
    display: none;
}

.text-columns {
    columns: initial;
}
.section-text {
    font-size: 14px;
    padding-bottom: 40px;
}
.billbord-page {
    height: 240px;
}
.text-big_columns {
    columns: initial;
}
.slider-history__block {
    margin-bottom: 20px;
    min-height: initial;
}
.item-factory {
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
}
.history-picture__image {
    height: 170px;
}
.item-team {
    max-width: 231px;
}
.item-team__image {
    height: 265px;
}
.row_team {
    margin: 0 -5px;
}
.row_team > div {
    padding: 0 5px;
    margin-bottom: 10px;
}
.item-document {
    max-width: 198px;
}
.row_units > div {
    padding: 0 5px;
    margin-bottom: 10px;
}
.row_units {
    margin: 0 -5px;
}
.wrapper-block .pager {
    margin-top: 15px;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .slider-billbord {
     margin: 0 -15px;
 }
 .item-billbord {
     padding: 0 15px;
     border-radius: 0;
 }
 .list-page li::before {
     width: 15px;
     height: 15px;
 }
 .item-billbord .list-page {
    max-width: 215px;
    font-size: 12px;
}
.list-page li {
    padding-left: 22px;
    margin-bottom: 6px;
}
.slider-billbord .slick-arrow {
    bottom: 8px;
}
.item-principle {
 font-size: 13px;
 line-height: 120%;
 margin-bottom: 18px;
}
.title-middle {
    font-size: 18px;
}
.item-principle__value {
    width: 75px;
    height: 85px;
    margin-right: 15px;
    font-size: 41px;
}
.block-principles {
    padding: 20px 15px;
    padding-bottom: 3px;
}
.item-news__image {
    height: 105px;
}
.item-news__title {
    font-size: 14px;
}
.item-advantage {
	padding: 20px 15px;
	display: block;
	min-height: 100%;
	height: auto;
	text-align: center;	
}
.item-advantage__icon {
	margin: 0 auto;
	margin-bottom: 15px;
}
.row_advantages {
	justify-content: center;
}
.item-catalog__descr {
    margin-bottom: 12px;
    font-size: 11px;
}
.item-catalog {
	font-size: 12px;
    padding: 7px;
}
.item-catalog .btn-main {
    height: 29px;
    font-size: 11px;
    padding: 0 8px;
}
.item-catalog__image {
    height: 123px;
}
.viewer.wowbook {
    height: 236px !important;
    max-width: 332px;
}
.partners-block {
 padding: 0 15px;
 padding-bottom: 55px;
}
.head-section .btn-main {
    padding: 0 14px;
    height: 36px;
    font-size: 12px;
}
.item-principle .title-middle {
    font-size: 16px;
}
.col-6 .item-about .item-about__value {
    font-size: 29px;
}
.col-6 .item-about__value span {
    font-size: 13px;
}
.col-6 .item-about {
    height: 160px;
    font-size: 12px;
}
.item-event {
    padding: 14px 15px;
    padding-right: 15px;
    padding-bottom: 18px;
    font-size: 11px;
}
.item-event__title {
    font-size: 13px;
    line-height: 127%;
    padding-top: 10px;
}
.date-main {
    margin-bottom: 13px;
    padding: 4px 7px;
    border-radius: 3px;
}
.item-about__text {
    font-size: 13px;
    width: 135px;
}


.slider-billbord {
    margin: 0;
}
.item-billbord {
    padding: 0;
}
.item-billbord .list-page {
    font-size: 13px;
}
.item-news__title {
    font-size: 13px;
    margin-bottom: 15px;
}
.item-news__date {
    font-size: 11px;
}
.item-news__content {
    padding: 10px;
}
.item-advantage__image img {
    max-width: 100%;
}
.head-section .title-section {
    font-size: 23px;
}
.head-section .btn-main {
    padding: 0 11px;
    height: 34px;
    font-size: 11px;
}
.head-section .btn-main i {
    margin-left: 9px;
    font-size: 12px;
}
.col-6 .item-about {
    height: auto;
}
.item-about {
    margin-bottom: 15px;
}
.item-about__text {
    width: 100%;
}
.item-billbord .list-page {
    max-width: 100%;
}
.item-banner {
    padding: 10px;
    padding-bottom: 40px;
}
.btn-arrow {
    width: 23px;
    height: 23px; 
    right: 7px;
    bottom: 6px;
}
.btn-arrow i {
    font-size: 11px;
}
.item-banner__title {
    font-size: 15px;
}
.item-banner__descr {
    font-size: 12px;
    line-height: 140%;
}
.principles {
    padding-bottom: 15px;
}
.row_advantages {
    margin: 0 -4px;
}
.row_advantages > div {
    padding: 0 4px;
    margin-bottom: 8px;
}
.item-advantage {
    padding: 15px 10px;
}

.row_categories {
    margin: 0 -4px;
}
.row_categories > div {
    padding: 0 4px;
}
.item-category {
    height: 165px;
    margin-bottom: 8px;
}
.item-category__title {
    height: 42px;
    font-size: 11px;
    padding: 0 8px;
    top: 2px;
    left: 2px;
    right: 2px;
}
.section-text h2 {
    font-size: 20px;
}
.about {
    padding-bottom: 20px;
    background-size: contain;
    background-position: center;
}
.item-about__value {
    margin-bottom: 15px;
}
.billbord-page {
    height: 220px;
    padding: 15px;
}
.billbord-page__content {
    padding: 10px 15px;
}
.billbord-page .title-big {
    font-size: 26px;
}
.history-picture__image {
    height: 145px;
}
.history-picture {
    height: 265px;
}
.about-advantages {
    padding: 30px 15px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    background-size: 400px auto;
    background-position: right -100px bottom 25px;
}
.principles-advantages {
    padding: 24px 15px;
    margin-bottom: 30px;
    padding-bottom: 0px;
}
.principles-advantages .item-principle {
    margin-bottom: 18px;
}
.principles-advantages .title-section, .advantages-block .title-section {
    padding-bottom: 16px;
}
.advantages-block {
    padding: 20px 15px;
}
.item-team {
    padding: 5px;
    padding-bottom: 12px;
    max-width: 165px;
    font-size: 13px;
}
.item-team__image {
    height: 175px;
}
.item-team__title {
    font-size: 15px;
}
.wrapper-block {
    padding: 10px;
}
.row_documents {
    margin: 0 -4px;
}
.row_documents > div {
    padding: 0 4px;
}
.item-document__image {
    height: 210px;
    padding: 5px;
}
.item-document {
    max-width: 154px;
}
.row_main > div {
    margin-bottom: 15px;
}
.item-vacancy {
    padding: 19px 15px;
    padding-bottom: 20px;
}
.item-vacancy__title {
    font-size: 17px;
    margin-bottom: 10px;
}
.item-vacancy__price {
    font-size: 19px;
    margin-bottom: 10px;
}
.item-vacancy .btn-main {
    margin-right: 13px;
}
.item-project {
    padding: 20px;
    margin-bottom: 20px;
}
.wrapper-block_events .item-news__title {
    font-size: 14px;
    margin-bottom: 12px;
}
.row_units > div {
    padding: 0 3px;
    margin-bottom: 6px;
}
.row_units {
    margin: 0 -3px;
}
.wrapper-block_news .item-news__title {
    margin-bottom: 18px;
}
.item-news__tag {
    font-size: 10px;
}
.wrapper-block .item-news__content {
    padding-top: 12px;
}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .slidebar-catalog,
    .footer__content,
    .header-bottom {
     display: block !important;
 }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media (min-width: 1600px) {
	.container {
        max-width: 1370px;
    }
}